.grid
  .grid-item.black-white
    img.masterTooltip.fancybox(src="images/1.png" title='Grey')
  .grid-item.flowers
    img.masterTooltip.fancybox(src="images/2.png" title='Flowers')
  .grid-item.flowers
    img.masterTooltip.fancybox(src="images/3.png" title='More Flowers')
  .grid-item.interior
    img.masterTooltip.fancybox(src="images/4.png" title='Cozy Room')
  .grid-item.nature
    img.masterTooltip.fancybox(src="images/5.png" title='Married')
  .grid-item.black-white
    img.masterTooltip.fancybox(src="images/6.png" title='Wedding')
  .grid-item.interior
    img.masterTooltip.fancybox(src="images/7.png" title='Breakfast')
  .grid-item.interior
    img.masterTooltip.fancybox(src="images/8.png" title='Cafe')
  .grid-item.interior
    img.masterTooltip.fancybox(src="images/9.png" title='Lemons')
  .grid-item.black-white
    img.masterTooltip.fancybox(src="images/10.png" title='Swings')
  .grid-item.interior
    img.masterTooltip.fancybox(src="images/11.png" title='Coffee')
  .grid-item.nature
    img.masterTooltip.fancybox(src="images/12.png" title='Sea')
  .grid-item.nature
    img.masterTooltip.fancybox(src="images/13.png" title='Tiger')
  .grid-item.black-white
    img.masterTooltip.fancybox(src="images/14.png" title='City')
  .grid-item.interior
    img.masterTooltip.fancybox(src="images/15.png" title='Room')
  .grid-item.black-white
    img.masterTooltip.fancybox(src="images/16.png" title='Old Building')
  .grid-item.nature
    img.masterTooltip.fancybox(src="images/17.png" title='Lake')
  .grid-item.flowers
    img.masterTooltip.fancybox(src="images/18.png" title='Tree')
  .grid-item.flowers
    img.masterTooltip.fancybox(src="images/19.png" title='White Flowers')
  .grid-item.black-white
    img.masterTooltip.fancybox(src="images/20.png" title='Church')
