
script(src='./minjs/jquery.min.js')
script(src='./minjs/scripts.js')
script(src='./minjs/jquery.fancybox.js')
link(href='./css/styles.css', rel='stylesheet')
link(href="https://fonts.googleapis.com/css?family=Nunito", rel="stylesheet")
link(rel="stylesheet" href="./css/jquery.fancybox.css" type="text/css" media="screen")
link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico?")
